<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.siprop.opencv" android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="4" />
	<application android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
		<activity android:name=".CameraConfiguration">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".OpenCVSample">
		</activity>
	</application>

	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
